$bg-first: #f6f6f6;
$bg-second: #ffffff;
$bg-third: #333333;

$red: #b71c1c;
$black: #000000;
$white: #ffffff;
$grey: #cccccc;

$light-font: #fefefe;
$grey-font: #bebebe;
$darkgrey-font: #383838;
$firstgrey-font: #545454;
$secondgrey-font: #6f6f6f;
$red-font: #bd302f;
$footer-font: #151515;
$footergray-font: #c1c1c1;
$button: #a90f17;
