// $bc-main: #ebe1e1;
// $bc-header: #d9cccc;

$bg-first: #f6f6f6;
$bg-second: #ffffff;
$bg-third: #333333;

$red: #b71c1c;
$black: #000000;
$white: #ffffff;

$light-font: #fefefe;
$grey-font: #bebebe;
$darkgrey-font: #383838;
$firstgrey-font: #545454;
$secondgrey-font: #6f6f6f;
$red-font: #bd302f;
$footer-font: #151515;
$footergray-font: #c1c1c1;
// $bg-form-second: #2f80d7;

// $title-color: #b7aaaa;
// $text-color: #b7aaaa;
// $label-color: #b8b8b5;
// $error-color: #850a0a;

// $button-color: #2910cd;

// $black: #333333;
// $white: #ffffff;
// $blue: blue;
